body {
    background-color: #C6FFD2;
    }
    
    .cabecalho{
    background-color: #9CF4A5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
    
    .cabecalho__titulo{
    display: inline;
    }
    
    .cabecalho__imagem {
    width: 201px;
    height: 195px;
    }
    
    .cabecalho__menu{
    display: inline;
    }
    
    .cabecalho__menu-item{
    display: inline;
    margin-left: 200px;
    font-size: 25px;
    }